* {
  box-sizing: border-box;
}

.text {
  font-family: 'Libre Baskerville', serif;
}


h1 {
  font-family: 'Patua One', cursive;
}

body {
  background: url(/Assets/img/test-bak-opt.jpg) center center;
  background-size: cover;
  background-size: 100%;
  background-attachment: fixed;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/*************************** Logo ***************************/

.logo {
  text-align: center;
}

.logo h1 {
  letter-spacing: 4px;
  margin: 0;
  font-size: 50px;
  text-shadow: 1px 1px 2px #000;
  color: #fff;
}

/*************************** Nav ***************************/

nav li {
  display: inline;
  padding: 9px 0 9px;
}

nav li {
  transition: background-color .8s;
}

nav li:hover {
  background-color: rgba(0,0,0, .9);
}

#navigation {
  background-color: rgba(0,0,0, .5);
  padding: 0;
  text-align: center;
  margin-bottom: 2rem;
  list-style-type: none;
}

a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: .5rem 1rem .5rem 1rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

#navigation #tjanster, #navigation #maskinpark, #navigation #referenser,
#navigation #kontakt, #navigation #omoss {
  background: #E71D36;
}


/*************************** Main/Hem ***************************/

#main-pic {
  display: block;
  margin: auto;
}

/*************************** Main/Tjänster ***************************/

#tjanster-header {
  text-align: center;
  margin: 5% 0 5% 0;
  font-size: 40px;
  color: #fff;
  letter-spacing: 3px;
}

.section-one {
  overflow: auto;
  margin-bottom: 5%;
  padding: 1.2%;
}

#tjanster-pic1 {
  width: 600px;
  height: auto;
  margin-left: 2%;
  float: left;
}

.section-one-info {
  border-top: 12px solid orange;
  width: 50%;
  display: inline-block;
  padding: 2% 5% 3% 5%;
  margin-left: 3%;
  background: white;
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


/*Shadow on boxes*/
.section-one-info:before, .section-one-info:after
{  content:"";
  position:absolute;
  z-index:-1;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  border-radius:100px / 10px;
}

.section-one-info > p {
  margin-bottom: 3%;
}

.section-one-button {
  display: inline-block;
  float: right;
  position: relative;
  top: 20px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 2% 4%;
  text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
  -webkit-border-radius: 9.72972972972973px;
  -moz-border-radius: 9.72972972972973px;
  border-radius: 9.72972972972973px;
  background: rgb(210, 20, 20);
  background: -moz-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
  background: -webkit-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
  background: -o-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
  background: -ms-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
  background: linear-gradient(0deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
  -webkit-box-shadow: 0px 3px 9px rgba(50, 50, 50, 0.65);
  -moz-box-shadow:    0px 3px 9px rgba(50, 50, 50, 0.65);
  box-shadow:         0px 3px 9px rgba(50, 50, 50, 0.65);
}

/***************************/

.section-two {
  overflow: auto;
  padding: 1.2%;
}

#tjanster-pic2 {
  width: 510px;
  height: auto;
  margin-right: 2%;
  float: right;
}

.section-two-info {
  border-top: 12px solid orange;
  width: 50%;
  display: inline-block;
  padding: 2% 5% 2% 5%;
  margin-left: 2%;
  background: white;
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.section-two-info:before, .section-two-info:after
{  content:"";
  position:absolute;
  z-index:-1;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  border-radius:100px / 10px;
}

.section-two-button {
  float: left;
  display: inline-block;
  position: relative;
  top: 10px;
  margin-top: 0;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 2% 4%;
  text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
  -webkit-border-radius: 9.72972972972973px;
  -moz-border-radius: 9.72972972972973px;
  border-radius: 9.72972972972973px;
  background: rgb(210, 20, 20);
  background: -moz-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
  background: -webkit-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
  background: -o-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
  background: -ms-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
  background: linear-gradient(0deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
  -webkit-box-shadow: 0px 3px 9px rgba(50, 50, 50, 0.65);
  -moz-box-shadow:    0px 3px 9px rgba(50, 50, 50, 0.65);
  box-shadow:         0px 3px 9px rgba(50, 50, 50, 0.65);
}

/*************************** Main/Maskinpark ***************************/

.maskin-l70 {
  background: url(/Assets/img/l70.jpg) top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 800px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  -webkit-box-shadow: 4px 4px 14px 0 rgba(0,0,0, .50);
  box-shadow: 4px 4px 14px 2px rgba(0,0,0, .50);
  border-top: 12px solid orange;
}

.maskin-pic1-info {
  position: absolute;
  top: 64%;
  background: rgba(0,0,0, .6);
  padding: 1%;
  color: #fff;
  line-height: 1.5;
}

.maskin-fm12 {
  background: url(/Assets/img/grusbil.jpg) top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 800px;
  height: 500px;
  position: relative;
  margin: 4em auto;
  -webkit-box-shadow: 4px 4px 14px 0 rgba(0,0,0, .50);
  box-shadow: 4px 4px 14px 2px rgba(0,0,0, .50);
  border-top: 12px solid orange;
}

.maskin-pic2-info {
  position: absolute;
  top: 66.4%;
  background: rgba(0,0,0, .6);
  padding: 0 1% 0 1%;
  color: #fff;
  line-height: 1.5;
}

/*************************** Footer ***************************/

footer {
  margin-top: 10%;
  clear: both;
  text-align: center;
  background-color: rgba(0,0,0, .5);
}

footer p {
  font-family: 'Raleway', sans-serif;
  padding: 1rem;
  letter-spacing: 3px;
  color: #fff;
}
